<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3">Items</h1>

		<div class="row">
			<div class="col-12">

				<div class="card">
					<div class="table-responsive">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Prix de départ</th>
									<th>Pourcentage de remise</th>
									<th>Prix</th>
								</tr>
							</thead>
							<% @items.each do |item| %>
							<tbody>
								<tr>
									<th><%= item.original_price %></th>
									<th><%= item.discount_percentage %></th>
									<th><%= item.price %></th>
								</tr>
							</tbody>
							<% end %>
						</table>
					</div>
				</div>

			</div>
		</div>

	</div>
</main>
